doctype html
html(lang="en") 
  include head.pug 
  body
    div 
      h1(style={float:'none'}) TodoList
    div.first
      form.loginForm
        input.email(type="text" placeholder="Email" name="email" required)
        input.password(type="password" placeholder="Password" name="password" required)
        button(type="submit") Sign In
      h2.wrong(style={display:'none'}) Wrong Email or Password

    div.second
      button(onclick="showForm();") Sign Up 
    
    div.showForm(style={display:'none'})
      form
        label Name : 
        input.sname(type="text" required)
        label Email : 
        input.semail(type="text" required)
        label Password : 
        input.spassword(type="password" required)
        button.signUp SignUp
    div.error(style={display: 'none'})
      h3 Error Signing Up
